@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@27,48.7&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    background-color: #E1DFDD !important;
  }
  body {
    @apply cursor-custom;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: #E1DFDD;
  }
  [data-dot] div .dot {
    background-color: #E1DFDD;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }
  @keyframes fadeInUpblog {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUpBlog-animation {
    animation: 4s fadeInUpblog;
  }
  @keyframes wiggle {
    0% {
      transform: skewX(9deg);
    }
    10% {
      transform: skewX(-8deg);
    }
    20% {
      transform: skewX(7deg);
    }
    30% {
      transform: skewX(-6deg);
    }
    40% {
      transform: skewX(5deg);
    }
    50% {
      transform: skewX(-4deg);
    }
    60% {
      transform: skewX(3deg);
    }
    70% {
      transform: skewX(-2deg);
    }
    80% {
      transform: skewX(1deg);
    }
    90% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(0deg);
    }
  }
}

